
.header2{
    display: flex;
    justify-content: space-between;
    background-color: #BDE3E5;
    font-family: 'Chelsea Market';
    color: #ffffff;
}

.logoHeader2{
    width: 350px;
}
.navBar2{
    display: flex;
    list-style-type: none;

}
.liNavBar2{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    padding: 6px;
    border-right: 2px solid #ffffff;
}