.headerContainer{
  background-color: #BDE3E5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 40%;
}

.logoPaw{
  width: 40px;
  margin: 5px 10px;
}

.Cabecera {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  background-color: #BDE3E5;
}

.Cabecera-button {
  display: none;
  cursor: pointer;
  background-color: #BDE3E5;
  border: none;
}

.Cabecera-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  margin: 1.3rem;
}
.Cabecera-li {
  margin: 0 1rem;
  list-style: none;
}
.Cabecera-li > .href {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(15, 58, 83);

  }

@media (max-width: 480px) {
  .logo{
    width: 30%;
  }
  .Cabecera{
    display: flex;
    flex-direction: column;
  }
  .Cabecera-button {
    display: flex;
    justify-content: flex-start;
    background: center;
    outline: none;
    border: none;
  }
  .Cabecera-nav {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .Cabecera-nav.isActive {
    height: 92vh;
    opacity: 1;
  }
  .Cabecera-ul {
    flex-direction: column;
  }
  .Cabecera-li {
    list-style: none;
    margin: 15px;

  }
  .Cabecera-li > .href {
    text-decoration: none;
    font-size: 1.5rem;
    color:rgb(15, 58, 83);
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
.headerContainer{
  background-color: #BDE3E5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 70%;
}

.logoPaw{
  width: 40px;
  margin: 5px 10px;
}

.Cabecera {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  background-color: #BDE3E5;
}

.Cabecera-button {
  display: none;
  cursor: pointer;
  background-color: #BDE3E5;
  border: none;
}

.Cabecera-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  margin: 1.3rem;
}
.Cabecera-li {
  margin: 0 1rem;
  list-style: none;
}
.Cabecera-li > .href {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(15, 58, 83);

  }
}
