
@media (max-width:481px) {
.introServicios{
    background-color: white;
    color: black;
    font-size: .7rem;
    padding: 1.2rem;
    text-align: center;
}

.descriptionProducts{
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 80%;
    margin: 1rem auto;
    border-radius: 20px;
}

.descriptionProducts p{
    font-size: .6rem;
}
}

@media (min-width:482px) {
    .introServicios{
        background-color: white;
        color: black;
        font-size: 2rem;
        padding: 1.2rem;
        text-align: center;
    }
    
    .descriptionProducts{
        display: flex;
        justify-content: space-around;
        background-color: white;
        width: 80%;
        margin: 1rem auto;
        border-radius: 20px;
    }
    
    .descriptionProducts p{
        font-size: 1.8rem;
    }
    }

    @media (min-width:1200px) {
        .introServicios{
            background-color: white;
            color: black;
            font-size: 2rem;
            padding: 1.2rem;
            text-align: center;
        }
        
        .descriptionProducts{
            display: flex;
            justify-content: space-around;
            background-color: white;
            width: 80%;
            margin: 1rem auto;
            border-radius: 20px;
        }
        
        .descriptionProducts p{
            font-size: 1.8rem;
        }
        }