
@media (max-width:481px) {
    h1{
        color:white;
        text-align: center;
        margin:1rem;
        font-size: 1.3rem;
    }
    .cardServices{
        display: grid;
        grid-template-columns: 1fr;
    }
}


@media (min-width:482px) {
    h1{
        color:white;
        text-align: center;
        margin:2rem;
        font-size: 1.5rem;
    }
    
    .cardServices{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1200px) {
    h1{
        font-size: 1.6rem;
    }
    .cardServices{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
