.contactUs{
    color: white;
    font-size: 18px;
}

.contactUs li{
    list-style-type: none;
}

.divContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divContact li{
    margin: 1rem;
}
.divContact li i{
    margin-right: .5rem;
}

.ulSocialMedia{
    display: flex;
    justify-content: center;
    text-align: center;
}
.ulSocialMedia li{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.liContact img{
    margin: .5rem;
}
.logoRedes{
    width: 40px;
}
a.linkRedes {
    text-decoration: none;
    color: white;
}
@media (min-width:481px) {
    .contactUs{
        display: grid;
        grid-template-columns: 60% 40%;
        margin: 2rem;
    }
    
    .contactUs h1{
        color:white;
        text-align: center;
        margin:2rem;
        font-size: 1.4rem;
    }
    .divContact li{
        font-size: 1.6rem;
    }
    .ulSocialMedia li{
        font-size: 1.8rem;
    }
    .logoRedes{
        width: 60px;
    }
}