.contactUs{
    color: white;
    font-size: 18px;
}

.contactUs li{
    list-style-type: none;
}

.divContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divContact li{
    margin: 1rem;
}
.divContact li i{
    margin-right: .5rem;
}

.ulSocialMedia{
    display: flex;
    justify-content: center;
    text-align: center;
}
.ulSocialMedia li{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.liContact img{
    margin: 1rem;
}

@media (min-width:481px) {
    .contactUs{
        color: white;
        font-size: 20px;
    }
    
  }