body{
    font-size: 12px;
}

.introPpal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  margin: 1.2rem 0;
}

.introPpal p {
    text-align: center;
    padding: 1rem 0.4rem;
    font-size: .7rem;
}
.imgIntro {
  width: 30%;   
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}


@media (min-width:481px) {
    .introPpal p {
        font-size: 1.5rem;
    }
    .imgIntro {
      width: 35%;   
      height: 60%;
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
}

@media (min-width: 1024px) {
  .introPpal p {
      font-size: 2rem;
  }
  .imgIntro {
    width: 35%;   
    height: 60%;
  
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }
}