body{
    font-size: 12px;
}

.introPpal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  margin: 1.2rem 0;
}

.introPpal p {
    text-align: center;
    margin: 1rem 0.4rem;
    font-size: .7rem;
}
.imgIntro {
  width: 50%;   
  height: 90%;

  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}


@media screen and (min-width:429px) and (max-width:743px) {
    body{
        font-size: 15px;
    }
}

@media screen and (min-width:744px) and (max-width:1439px) {
    body{
        font-size: 20px;
    }
}
@media screen and (min-width:1440px) {
    body{
        font-size: 30px;
    }
}